.footer {
	position: absolute;
	width: 960px;
	height: auto;
	top:760px; 
	left:0;
	right:0;
	margin:auto;

}

.footer-logo {
	font-family: "roboto_condensedbold";
	font-size: 12px;
	text-align: center; 
	color: #fff;


} 