//_set.scss

html, body {
    position:relative;
    min-height:100%;
    height:100%;
    font: 1em/1.4;
    background-image: url('../img/bg.jpg');
    background-repeat:no-repeat;
    background-size: 100%;
}

.wrapper {
   
   

}





/* clear _____________________________________________________________________*/
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* hide links _____________________________________________________________________*/
.text-hide {
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}
.logo-hide {
   font: 0/0 serif;
    text-shadow: none;
    color: transparent;
}