@import '_mainvars';

.socials-lang {
    position: fixed;
    top: 102px;
    left: 0px;

    @include clearfix;
}

.socials_list,
.lang_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.socials_list{
  display:block;
  float:left;
  margin-left: -43px;
}

.lang_list {
    margin-bottom: 17px;
}

.socials_list-item, .socials_list-item {
    position: relative;
    border-bottom: 1px solid  #999ca1;

    &:last-child{
       border-bottom: none;
    }

}
.lang_list-item-link {
    font-family: 'wf_SegoeUILight';
    font-size: 1.250em;
    line-height: 1.7em;
    color: #999ca1;
    text-decoration: none;
    display: block;
    background: #d6d4d6;
    text-align: center;
    padding: 0;
    width: 43px;
    height:35px;


    &:hover{

      color: #444a53;
    }
    &:active{
      background-color:#B8B2B3;
      color: #999ca1;
    }
}
.socials_list-item-link{
  @extend .lang_list-item-link;
  height:41px;
}
.active{
  color:#fff;
  background-color:#B8B2B3;
}
.fb {
    background-color: #d4d2d1;
    background-image:url('../img/fb.png');
    background-repeat: no-repeat;
    background-position: 0 center;

    &:hover{
      background-position: 100% center;
    }
    &:active{
      background-position: 0 center;
    }
}

.vk {
    @extend .fb;
    background-image:url('../img/vk.png');
}

.tw {
    @extend .fb;
    background-image:url('../img/tw.png');
}
.like-btn{
  @extend .socials_list-item-link;
  @extend .fb;
    background-image:url('../img/like.png');
    // position:relative;
    // left:100%;
    // top:0;
    // margin-top:-125px;
    float:left;

}
