@import 'font';
@import 'set';
@import 'footer';
@import 'socials';






.main-container {            
  
  min-width: 1200px;
  height: 800px;
  position: relative;
  background: url('../img/bg.jpg') no-repeat;
  
  
  
  
  
     
    
}     

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 960px;
  height: 670px;
  background-color: #615c60;
  
  
}
 


