.result-window {
  width: 700px;
  height: 670px;
  background-color: #615c60; }
  .result-window .result-window_wrapper {
    width: 650px;
    margin: 0 auto; }
    .result-window .result-window_wrapper .result-window__title {
      margin-bottom: 61px;
      font-family: 'Segoe UI Light';
      font-size: 36px;
      color: #ffffff; }
    .result-window .result-window_wrapper .result-window__body {
      position: relative;
      overflow: hidden;
      text-align: center;
      height: 533px;
      background-color: #ffffff;
      background-image: url("../img/result_bg.png"); }
      .result-window .result-window_wrapper .result-window__body .result-window__body__wrapper {
        display: inline-block;
        position: relative;
        top: 50%;
        max-height: 100%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .result-window .result-window_wrapper .result-window__body .result-window__body__source {
        position: relative;
        text-align: center; }
        .result-window .result-window_wrapper .result-window__body .result-window__body__source .source__img {
          max-width: 650px;
          max-height: 533px; }
      .result-window .result-window_wrapper .result-window__body .result-window__body__watermarks {
        position: absolute;
        top: 0;
        left: 0; }
        .result-window .result-window_wrapper .result-window__body .result-window__body__watermarks .watermark__row {
          display: inline-block;
          width: 100%; }
          .result-window .result-window_wrapper .result-window__body .result-window__body__watermarks .watermark__row .watermark {
            display: inline-block;
            float: left;
            vertical-align: top;
            margin: 0; }
