extends _layout

block title
 title Генератор водяных знаков

block content 
 section.content
  include _common/_block4

block sidebar
 aside.sidebar
  h3.sidebar-block-title Настройки
  include _common/_block1

block socials
 include _common/_socials 

block footer
 include _common/_footer