.block.result-window
    div.result-window_wrapper
        div.result-window__title
            |Генератор водяных знаков
        div.result-window__body
            div.result-window__body__source#blBg
                //- img(src='img/example/original.png').source__img.img
            div.result-window__body__watermarks#blWtk
                //-img(src='img/example/watermark.png').watermark__img.img
                //- div.watermark__row
                //-     div.watermark
                //-         img(src='img/example/watermark.png').watermark__img.img
                //-     div.watermark
                //-         img(src='img/example/watermark.png').watermark__img.img
                //-     div.watermark
                //-         img(src='img/example/watermark.png').watermark__img.img
                //-     div.watermark
                //-         img(src='img/example/watermark.png').watermark__img.img
                //- div.watermark__row
                //-     div.watermark
                //-         img(src='img/example/watermark.png').watermark__img.img
                //-     div.watermark
                //-         img(src='img/example/watermark.png').watermark__img.img
                //-     div.watermark
                //-         img(src='img/example/watermark.png').watermark__img.img
                //-     div.watermark
                //-         img(src='img/example/watermark.png').watermark__img.img 