.block.positions.module-suit
	.form-warper
		form#positions(action="", name="positions")
			.wraper-input.position-title
				label.main-form-label(for="position") Положение
					.pos-trigger
						.trigger-btn.tileon
						.trigger-btn.oneoff
			.wraper-input
				.visual-nav
					.nav-field
						div(data-target-position='left,top').nav-item
						div(data-target-position='center,top').nav-item
						div(data-target-position='right,top').nav-item

						div(data-target-position='left,center').nav-item
						div(data-target-position='center,center').nav-item
						div(data-target-position='right,center').nav-item

						div(data-target-position='left,bottom').nav-item
						div(data-target-position='center,bottom').nav-item
						div(data-target-position='right,bottom').nav-item
				.namb-nav
					.namb-field
						.method.meth-x
							input.n-nav(type="number")#wtmX
							//- .arrows-wrap
							//- 	.arrow-up
							//- 	.arrow-down

						.method.meth-y
							input.n-nav(type="number")#wtmY
							//- .arrows-wrap
							//- 	.arrow-up
							//- 	.arrow-down