.form-wraper
		form#options(action="", name="img-opstions")
			.module-suit.img-downloader
				.wraper-input
					label.main-form-label(for="upload-img") Исходное изображение
					input.main-form-input(readonly="readonly", placeholder="Image.jpg", class="bgInp")
					input.main-form-upload(type="file", id="bgInp", name="files[]" data-url="php/" accept="image/jpeg,image/png,image/gif")
					.upload-btn
				.wraper-input
					label.main-form-label(for="upload-watermark") Водяной знак
					input.main-form-input(readonly="readonly", placeholder="Image.png", class="wtkInp") 
					input.main-form-upload(type="file", id="wtkInp", name="files[]" data-url="php/" accept="image/jpeg,image/png,image/gif")
					.upload-btn
			.module-suit.positions
				.wraper-input.position-title
					label.main-form-label(for="position") Положение
						.pos-trigger
							.trigger-btn.tileon#tileon 
							.trigger-btn.oneoff.active#single
				.wraper-input
					.visual-nav
						.nav-field
							div(data-target-position='left,top').nav-item.nav-item-clone
							div(data-target-position='center,top').nav-item.nav-item-clone
								.tiley
							div(data-target-position='right,top').nav-item.nav-item-clone

							div(data-target-position='left,center').nav-item.nav-item-clone
								.tilex
							div(data-target-position='center,center').nav-item.nav-item-clone
								.tilex
								.tiley
							div(data-target-position='right,center').nav-item.nav-item-clone
								.tilex

							div(data-target-position='left,bottom').nav-item.nav-item-clone
							div(data-target-position='center,bottom').nav-item.nav-item-clone
								.tiley
							div(data-target-position='right,bottom').nav-item.nav-item-clone
					.namb-nav
						.namb-field
							.method.meth-x.meth-clone-x
								input.n-nav(type="number")#wtmY
								.arrows-wrap.position-top
									.arrow-up.position-enc
									.arrow-down.position-dec

							.method.meth-y.meth-clone-y
								input.n-nav(type="number")#wtmX
								.arrows-wrap.position-left
									.arrow-up.position-enc
									.arrow-down.position-dec
			.module-suit.opacity
				.wraper-input.position-title
					label.main-form-label(for="opacity-range") Прозрачность
				.wraper-input
					//-input.range-input(type="range" min="0" max="100" step="0") 
					.slider(id="slider")
			.btn-block
				.wraper-input_bth
					input.main-form-btn.reset-btn(type="reset" value= "Сброс")
					input.main-form-btn.submit-btn(type="button" value= "Скачать")