.socials-lang
	ul.lang_list
		each item, index in ['РУС', 'ENG']
			li.lang_list-item
				a(href="#" class='lang_list-item-link ' + ((index == 0) ? 'active' : '' ))= item
		
	ul.socials_list
		each item, index in ['fb', 'tw', 'vk']
			li.socials_list-item
				a(href="#" class='socials_list-item-link '+item +' '+ ((index == 1) ? 'active' : '' ))
	a(href="").like-btn